# Visual Studio / VS Code
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compilación y Temporales de .NET (C#)
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/

# Node / Dependencias (si aplica)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
Thumbs.db
ehthumbs.db
Desktop.ini

# Notas privadas
*.md